body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgb(37, 211, 197);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.note {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.note button {
    background-color: #dc3545;
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.note button:hover {
    background-color: #c82333;
}

.note button.edit {
    background-color: #007bff;
}

.note button.edit:hover {
    background-color: #0056b3;
}

.notes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.note-title {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 1 calc(20% - 10px); /* 5 items in a row */
    text-align: center;
    background-color: #f9f9f9;
}

.note-title:hover {
    background-color: #e9ecef;
}